---
layout: page
header-img: "img/header/index.jpg"
title: "Teddy's blog"
description: "Baby Steps to Giant Strides"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{% if post.redirect %}{{ post.redirect | prepend: site.baseurl }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 新的文档</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">旧的文档 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
    // gitalk的主要参数
        clientID: 'b01b25ef485fb33917b9',
        clientSecret: '7737058900ddef0b581020bf5d057e9d39266091',
        repo: 'teddyzhang29.github.io',
        owner: 'teddyzhang29',
        admin: ['teddyzhang29'],
        //id: 'index',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->